.hero-section {
    display: flex;
    min-height: 100vh;
    overflow-x: visible;
  }
  
  .image-container {
    flex-grow: 1;
    width: 80vw;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
    clip-path: polygon(0 0, 0% 100%, 100% 100%, 82% 0);
    overflow-x: visible;
    position: relative;
  }
  
  .image-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    margin: auto 0;
  }
  
  .nav-button {
    border-radius: 50px;
    background-color: white;
    padding: 2px 4px;
    opacity: 0.9;
    transition: opacity 0.3s;
  }
  
  .nav-button:hover {
    opacity: 1;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    height: 100%;
    background-color: white;
    color: black;
    padding: 32px;
    margin-left: 40px;
    margin-right: 80px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .logo-image {
    margin-left: auto;
    width: 90%;
    height: auto;
    object-fit: contain;
  }
  
  .text-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
  }
  
  .date-box {
    font-weight: 600;
    border: 1px solid black;
    border-radius: 8px;
    padding: 4px 16px;
    font-size: 1.5vw;
  }
  
  .location-text {
    font-size: 1vw;
    font-weight: 600;
    color: gray;
  }
  
  .main-title {
    font-size: 2vw;
    font-weight: bold;
  }
  
  .sub-title {
    font-size: 1.5vw;
    font-style: italic;
    font-weight: 600;
    margin-top: 8px;
  }
  
  .description-text {
    margin-top: 16px;
    text-align: justify;
    font-size: 1.1vw;
    color: gray;
    line-height: 1.6;
  }
  