@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  cursor: pointer;
  font-size: 24px; /* Adjust size */
  border: none; /* Remove border */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent */
  border-radius: 50%; /* Circular */
  padding: 10px; /* Adjust padding */
  transition: background-color 0.3s; /* Smooth hover transition */
}

button:hover {
  background-color: rgba(255, 255, 255, 1); /* Change on hover */
  color: rgb(59 130 246 / var(--tw-bg-opacity)) ;
}
